@font-face{
    font-family: 'MrEaves Ultra';
    src: url('./src/fonts/MrEavesUltra.ttf');
}

@font-face{
    font-family: 'MrEaves Bold';
    src: url('./src/fonts/MrEavesBold.ttf');
}

@font-face{
    font-family: 'MrEaves Regular';
    src: url('./src/fonts/MrEavesRegular.ttf');
}

@font-face{
    font-family: 'MrEaves Light';
    src: url('./src/fonts/MrEavesLight.ttf');
}

.font-eaves-ultra{
    font-family: 'MrEaves Ultra';
}

.font-eaves-bold{
    font-family: 'MrEaves Bold';
}

.font-eaves-regular{
    font-family: 'MrEaves Regular';
}

.font-eaves-light{
    font-family: 'MrEaves Light';
}